/* *{
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
} */
html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

:root{
  --bg: #e0e0e0;
  --gray: #bdbdbd;
}


header {
  width: 100%;
  padding: 0px 200px;
  background: var(--gray);
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  font-weight: bold;
}

nav a{
  text-decoration: none;
  padding-right: 20px;
  color: black;
}
.search{
  width: 300px;
  height: 35px;
  background: white;
  border-radius: 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.cards{
  background: var(--bg);
  display: flex;
  flex-wrap: wrap;
}

.card{
  width: calc(25% - 20px);
  margin: 10px;
  text-align: center;
  padding: 20px;
  background: white;
}

.card h3{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.card button{
  width: 140px;
  height: 30px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background: var(--gray);
  cursor: pointer;
}
.card button:hover{
  background: #cccccc;
}

footer{
  height: 70px;
  background: var(--gray);
}